@model Hylasoft.BreadApi.Models.BreadModel
@{
  ViewBag.Title = Model.Bread.Name + " - BreadApi";
}
<div ng-controller="breadController">
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 100%"></div>
  </div>
  <h2>@Model.Bread.Name </h2>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        @foreach (var bread in Model.Bread.Breads)
        {
          <a class="list-group-item" ng-click="alert('adwadwadw')">@bread.Name
            @*<ul>
            @foreach (var method in bread.Methods)
            {
              <li data-class="@bread.Name" data-method="@method" class="bread-method">@method</li>
            }
          </ul>*@
          </a>
        }
      </div>
    </div>
    <div class="col-md-6">
      <h3 id="bread-form-title">Select a method</h3>
      <form id="bread-form"></form>
      <div id="result"></div>
    </div>
  </div>
</div>
@section scripts{
  <script type="text/javascript">
    $('.bread-method').click(function () {
      var breadClass = $(this).data('class');
      var breadMethod = $(this).data('method');
      $.post('@Url.Content("/")breads/@Model.Bread.Name/' + breadClass + '/' + breadMethod + '/params', function (data) {
        $('#bread-form-title').html(breadClass + '.' + breadMethod + ':');
        $('#bread-form').html(''); //resets the form
        $('#bread-form').jsonForm({
          schema: data,
          onSubmit: function (errors, values) {
            if (errors) {
              $('#result').val('errors are present, unable to submite request:\n' + errors);
            } else {
              $.post('@Url.Content("/")breads/@Model.Bread.Name/' + breadClass + '/' + breadMethod, values,
                function (data) {
                  $('#result').html('suceed:<br/><pre><code>' + JSON.stringify(data, undefined, 2) + '</code></pre>');
                });
          }
        }
      });
      });
    });
  </script>
}
<style>
  .list-group-item {
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
